<h2>Write Your Comments</h2>
    
    <form action="/comments/<%= book_title %>" method="POST">
    <label for=""> Your comments : </label>
    <input type="text" name="comments">
    

    <button>Submit</button>
</form>