<h2>Reviews About Your Book</h2>

<form action="/reviews" method="POST">
    <label for="">Title: </label>
    <input type="text" name="title">

    <label for="">Content: </label>
    <input type="text" name="content">

    <label for="">Genre: </label>
    <input type="text" name="genre">

    <label for="">Image's Book: </label>
    <input type="text" name="image_url">
    <button>Post My Review</button>

</form>